<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="govph.rsis.seedreleasingapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/releasing_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/releasing_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="govph.rsis.seedreleasingapp.TransactionActivity"></activity>
        <activity android:name="govph.rsis.seedreleasingapp.SelectUserActivity" />
        <activity android:name="govph.rsis.seedreleasingapp.SeedDetailsActivity" />
        <activity android:name="govph.rsis.seedreleasingapp.SwitchAccountActivity" />
        <activity android:name="govph.rsis.seedreleasingapp.ScannedBarcodeActivity" />
        <activity android:name="govph.rsis.seedreleasingapp.LoginActivity" />
        <activity android:name="govph.rsis.seedreleasingapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="govph.rsis.seedreleasingapp.HomeActivity"
            android:parentActivityName="govph.rsis.seedreleasingapp.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="govph.rsis.seedreleasingapp.MainActivity" />
        </activity>
    </application>

</manifest>