<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="govph.rsis.releasingapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsis_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rsis_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="govph.rsis.releasingapp.SelectUserActivity" />
        <activity android:name="govph.rsis.releasingapp.SeedDetailsActivity" />
        <activity android:name="govph.rsis.releasingapp.SwitchAccountActivity" />
        <activity android:name="govph.rsis.releasingapp.ScannedBarcodeActivity" />
        <activity android:name="govph.rsis.releasingapp.LoginActivity" />
        <activity android:name="govph.rsis.releasingapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="govph.rsis.releasingapp.HomeActivity"
            android:parentActivityName="govph.rsis.releasingapp.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="govph.rsis.releasingapp.MainActivity" />
        </activity>
    </application>

</manifest>